# Maven / Gradle build
**/target/
**/build/

# IDE
**/.idea/
**/*.iml
.vscode/

# Logs
**/*.log

# OS files
.DS_Store
Thumbs.db

# Secrets
**/application.properties
**/application.yml
.env

# Node modules
**/node_modules/
